<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      href="{{url_for('static',filename='dist/output.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="2xl:px-40 lg:px-32 md:px-24 sm:px-10 px-5 mb-10 flex flex-col gap-10 mt-52 transition-all duration-700"
    >
      <div>
        <h1 class="font-mono font-semibold text-6xl">About Us</h1>
      </div>
      <div class="bg-orange-100 container p-10 border rounded-lg shadow-md">
        <div class="font-serif">
          Welcome to <span class="font-semibold">Rohadas Blog</span> , a space where I share my personal experiences, thoughts.

          I created this blog to document my journey and connect with like-minded individuals who share my passions and interests. I believe that everyone has a story to tell, and I hope that my posts will inspire and encourage others to share their own experiences and perspectives.
          
          As for me, my name is <span class="font-semibold">Chirag Rohada</span>, and I'm a Entrepreneur . In my free time, I love to explore places.
          
          I believe that life is a journey, and we all have something to learn from each other. So, whether you're here to gain new insights, share your own experiences, or simply connect with others, I invite you to join me on this journey and become a part of the Rohadas community.
          
          Thank you for visiting my blog, and I hope you enjoy reading my posts as much as I enjoy writing them.
        </div>
      </div>
      
  </body>
</html>
